<div class="container" style="margin-top: 60px;">
    <div class="columns is-mobile">
        <div class="column is-4 is-hidden-mobile ">
            <box-webpage></box-webpage>
        </div>
        <div class="column">
            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <article *ngFor="let property of properties">
                    <property-individual [tipo]="'property'" [objeto]="property" ></property-individual>
                    </article>
                </div>
            </div>    
        </div>
        <div class="column is-4 is-hidden-mobile">
            <box-webpage></box-webpage>
        </div>
    </div>
</div>