<nav class="navbar nav-profile is-fixed-top" role="navigation" aria-label="dropdown navigation">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column has-text-centered">
                <a [routerLink]="['']" class="icon is-large">
                    <i class="fa fa-home"></i>
                </a>
            </div>
            <div class="column has-text-centered">
                <a class="icon is-large">
                    <i class="fa fa-info-circle"></i>
                </a>
            </div>
            <div class="column  has-text-centered">
                <a class="icon is-large">
                    <i class="fa fa-map-marker"></i>
                </a>
            </div>
        </div>  
    </div>
</nav>