<div class="card" style="margin: 10px;">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="https://versions.bulma.io/0.7.0/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-5">{{ objeto.name }} </p>
                    <p class="subtitle is-6">{{ objeto.type}}</p>
                </div>
                <div class="media-right">
                    <span class="icon" [ngStyle]="objeto.available? {'color': '#78e08f'}:{'color': '#bdc3c7'}">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="content">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-6">
                        <div class="field has-addons">
                            <div class="control" *ngFor="let item of [].constructor(objeto.score); let i = index">
                                <span class="icon is-small" style="margin: 1px; color:#e76e53">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <a  [routerLink]="[ '/perfil', property.name ]" #property class="card-footer-item"><small style="color: #525252">Ver Más Info</small></a>
            <a  class="card-footer-item"><small style="color: #525252">Ver Ubicación</small></a>
        </footer>
 </div>