<div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="https://versions.bulma.io/0.7.0/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title-is-4">Name: {{ objeto.name }} </p>
                    <p class="subtitle-is-6">Type</p>
                </div>
                <div class="media-right">Libre</div>
            </div>
            <div class="content">
                <div class="columns is-mobile">
                    <div class="column is-1">
                        <span class="icon is-small"><i class="fa fa-star" aria-hidden="true" style="color: #bcbcbc"></i></span>
                    </div>
                    <div class="column is-1">
                        <span class="icon is-small"><i class="fa fa-star" aria-hidden="true" style="color: #bcbcbc"></i></span>
                    </div>
                    <div class="column is-1">
                        <span class="icon is-small"><i class="fa fa-star" aria-hidden="true" style="color: #bcbcbc"></i></span>
                    </div>
                    <div class="column is-1">
                        <span class="icon is-small"><i class="fa fa-star" aria-hidden="true" style="color: #bcbcbc"></i></span>
                    </div>
                    <div class="column is-1">
                        <span class="icon is-small"><i class="fa fa-star" aria-hidden="true" style="color: #bcbcbc"></i></span>
                    </div>
                </div>
                
            </div>
        </div>
        <footer class="card-footer">
            <a  [routerLink]="[ '/perfil', property.name ]" #property class="card-footer-item"><small style="color: #525252">Ver Más Info</small></a>
            <a  class="card-footer-item"><small style="color: #525252">Ver Ubicación</small></a>
        </footer>
 </div>