<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
        <div class="box has-text-centered">
            <a [routerLink]="[ '/list' ,'all' ]">
                Mostrar listado completo
            </a>
        </div>
        <div class="box has-text-centered">
            <a [routerLink]="[ '/list', 'departamento' ]">
                Departamento
            </a>
        </div>
        <div class="box has-text-centered">
            <a [routerLink]="[ '/list', 'hotel' ]">
                Hotel
            </a>
        </div>
        <div class="box has-text-centered">
            <a [routerLink]="[ '/list', 'casa' ]">
                Casa
            </a>
        </div>
        <div class="box has-text-centered">
            <a [routerLink]="[ '/list', 'camping' ]">
                Camping
            </a>
        </div>
        <div class="box has-text-centered">
            <a [routerLink]="[ '/list', 'local' ]">
                Local
            </a>
        </div>
        <div class="box has-text-centered">
            <a [routerLink]="[ '/list', 'lugar' ]">
                Cercano a dirección
            </a>
        </div>

        <div class="box has-text-centered">
            <a [routerLink]="[ '/list', 'mapa' ]">
                Mostrar en Mapa
            </a>
        </div>
    </div>
    </div>
</section>

